.articlebg {
  background-image: url('../images/slotcanyon.jpg');
  background-size: 100%;
  background-position-y: 60%;
  padding-top: 15%;
  padding-bottom: 25%;
}

.articletext {
  text-align: center;
  margin: 3%15%;
}

.articletitle {
  font-weight: bold;
  font-size: 190%;
}

.articlesubtitle {
  font-size: 140%;
}

.articletitlewrap {
  background-color: lightgray;
  padding: 0%;
  border-bottom: 1px solid rgb(87, 81, 81);
}

.articlewrap {
  border: 1px solid black;
  margin: 3%15%;
  text-align: center;
}
