.filmswrapper {
  margin: 2% 15%;
}

.formformat {
  width: 100%;
}

.contributor1 {
  background-image: url('../images/birdy.jpg');
  background-size: 100%;
  margin-bottom: 5%;
  padding-top: 60%;
}

.contributor2 {
  background-image: url('../images/dave.jpg');
  background-size: 100%;
  background-position-y: 20%;
  padding-top: 60%;
  margin-bottom: 5%;
}

.contributor3 {
  background-image: url('../images/ders.jpg');
  background-size: 100%;
  padding-top: 60%;
  margin-bottom: 5%;
}

.contributor4 {
  background-image: url('../images/josh.jpg');
  background-size: cover;
  padding-top: 60%;
  margin-bottom: 5%;
  background-position-y: 40%;
}

.contributor5 {
  background-image: url('../images/migs.jpg');
  background-size: 100%;
  padding-top: 60%;
  margin-bottom: 5%;
}

.contributor6 {
  background-image: url('../images/nate.JPG');
  background-size: 100%;
  padding-top: 60%;
  margin-bottom: 5%;
  background-position-y: 50%;
}

.contributor7 {
  background-image: url('../images/scott.jpg');
  background-size: 100%;
  padding-top: 60%;
  margin-bottom: 5%;
}

.contributor8 {
  background-image: url('../images/jake.jpg');
  background-size: 100%;
  padding-top: 60%;
  margin-bottom: 5%;
  background-position-y: 90%;
}

.contributor9 {
  background-image: url('../images/evan.jpg');
  background-size: cover;
  padding-top: 60%;
  margin-bottom: 5%;
}

.contributortitle {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding-left: 5%;
}
