.footerwrapper {
  background-color: black;
  color: white;
  padding: 1% 5%;
  text-align: center;
}

.footerli {
  list-style: none;
  font-size: 100%;
}

.footerbottom {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 60%;
}

.footercol {
  border-right: solid white;
}

.footersend {
  background-color: red;
  color: white;
}

.footerlink {
  text-decoration: none;
  color: white;
}
