.hardartheader {
  font-size: 150%;
}

.hardartswrapper {
  margin: 3%15%;
}

.hardartstitle {
  font-size: 150%;
}

.hardartsdivider {
  border-right: 1px solid black;
  margin-right: 2%;
  padding-right: 1%;
}

.famouswaterbg {
  background-image: url('../images/fishin.JPG');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 50%;
}

.bestcavesbg {
  background-image: url('../images/slotcanyon.jpg');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 50%;
}

.summerviewsbg {
  background-image: url('../images/tetons.JPG');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 50%;
}

.hmitmbg {
  background-image: url('../images/skis.jpg');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 90%;
}

.bozefwbg {
  background-image: url('../images/flyrod.jpg');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 90%;
}

.wildfirebg {
  background-image: url('../images/smoke.JPG');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 10%;
}

.curbfiresbg {
  background-image: url('../images/mensmoke.jpg');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 60%;
}

.dangeroffriendsbg {
  background-image: url('../images/gettingsprayed.JPG');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 80%;
}

.winterasabumbg {
  background-image: url('../images/mecheesin.jpg');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 60%;
}

.chasingwhiteroombg {
  background-image: url('../images/bridger.jpg');
  background-size: 100%;
  padding-top: 50%;
  background-position-y: 60%;
}

.splitboardingcobg {
  background-image: url('../images/tbettyskin.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 0%;
}

.springsnowboardingbg {
  background-image: url('../images/tbettynoshirt.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 10%;
}

.trestlebg {
  background-image: url('../images/bradybiking.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 0%;
}

.bikingcoloradobg {
  background-image: url('../images/theboys.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 0%;
}

.surfingoregonbg {
  background-image: url('../images/ocean.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 80%;
}

.slotcanyonsbg {
  background-image: url('../images/slotcanyon.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 80%;
}

.learntoclimbbg {
  background-image: url('../images/climbing.jpg');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 80%;
}

.flyfishmtbg {
  background-image: url('../images/fishin.JPG');
  background-size: cover;
  padding-top: 50%;
  background-position-y: 80%;
}
