.navbar2 {
  /* border-bottom: 5px solid #dbdbdb; */
  background: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.lownavitem {
  border: solid lightgray;
  color: rgb(155, 155, 155);
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 0%;
  cursor: pointer;
  width: 100%;
}

.lownavlink {
  text-decoration: none;
  color: rgb(155, 155, 155);
}
.lownavlink:hover {
  color: white;
  text-decoration: none;
}

.prime {
  border-right: solid lightgray;
}

.lowernavlist {
  display: flex;
  justify-content: space-between;
}

.lowernavlistitem {
  font-size: 150%;
  color: grey;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
