.threadwrapper {
  margin: 3%15%;
}

.threadmain {
  border: 1px solid black;
}

.threadtitle {
  font-weight: bold;
}

.threadauthor {
  font-style: italic;
}

.threadcontent {
  padding: 1%1%;
}

.threadheader {
  background-color: rgb(233, 233, 233);
  padding: 1%1%;
}

.threadcomment {
  border: 1px solid black;
  margin-bottom: 2%;
}

.threadcommentheader {
  background-color: rgb(233, 233, 233);
  padding: 1%1%;
}

.threadcommentbody {
  padding: 1%1%;
}

.threadcommentauthor {
  font-weight: bold;
}
